openapi: 3.2.0
info:
  title: Onboarding.Proposal.Webservice Files API
  version: v1.0.0
servers:
- url: https://sandbox.openfinance.celcoin.dev/onboarding/v1
- url: https://api.openfinance.celcoin.com.br/onboarding/v1
security:
- Bearer: []
tags:
- name: Files
paths:
  /onboarding-proposal/files:
    get:
      tags:
      - Files
      summary: Busca um arquivo ou uma lista de arquivos
      parameters:
      - name: ProposalId
        in: query
        description: Id da proposta a ser buscada.
        schema:
          type: string
          example: 3257b215-bef9-402b-a779-104441b520b4
        example: 3257b215-bef9-402b-a779-104441b520b4
      - name: ClientCode
        in: query
        description: ClientCode da proposta a ser buscada.
        schema:
          type: string
          example: 612f5412-0bd3-49b0-b136-981f0959d47e
        example: 612f5412-0bd3-49b0-b136-981f0959d47e
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchFilesResponseSuccessResponse'
        '400':
          description: Error handled by the application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: getOnboardingProposalFiles
      x-operation-id-source: derived
components:
  schemas:
    BlobFile:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: 'Tipo do arquivo

            - CNH_FRONT,

            - CNH_BACK,

            - RG_FRONT,

            - RG_BACK,

            - RNE_FRONT,

            - RNE_BACK,

            - CONTRATO_SOCIAL,

            - DOCUMENTO_FINANCEIRO,

            - PROCURACAO_PODERES,

            - SELFIE'
        url:
          type:
          - string
          - 'null'
          description: URL para acessar o arquivo.
        expirationTime:
          type:
          - string
          - 'null'
          description: Tempo de expiração da URL.
      additionalProperties: false
      description: Arquivo do Blob
    SearchFilesResponse:
      type: object
      properties:
        files:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BlobFile'
        clientCode:
          type:
          - string
          - 'null'
          description: Identificador único fornecido pelo cliente.
          example: 123abdgh-c11f-4c88-af6b-d227d88b5183
        documentNumber:
          type:
          - string
          - 'null'
          description: CPF ou CNPJ vinculado à proposta.
          example: '12345678909'
        proposalId:
          type:
          - string
          - 'null'
          description: Identificador da proposta.
          example: ab11113e-f123-4a7f-9010-99b064038038
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
          description: Versão da api.
          example: 1.0.0
        status:
          type:
          - string
          - 'null'
          description: Status da solicitação.
          example: SUCCESS
        error:
          $ref: '#/components/schemas/ResponseError'
      additionalProperties: false
    ResponseError:
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          minLength: 1
          type: string
          description: Código de erro gerado pela Celcoin.
          example: OIE999
        message:
          minLength: 1
          type: string
          description: Mensagem de erro.
          example: Ocorreu um erro interno durante a chamada da api..
      additionalProperties: false
    SearchFilesResponseSuccessResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
          description: Versão da api.
          example: 1.0.0
        status:
          type:
          - string
          - 'null'
          description: Status da solicitação.
          example: SUCCESS
        body:
          $ref: '#/components/schemas/SearchFilesResponse'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: '[API V5] - Please enter into field the word ''Bearer'' following by space and the access_token (JWT)'
      name: Authorization
      in: header
