openapi: 3.0.1
info:
  title: billissuance-settlement-webservice AnnotationCompetenceCalendar OutstandingBalance API
  version: v1.0.0
servers:
- url: https://sandbox.openfinance.celcoin.dev/billissuance/v1
tags:
- name: OutstandingBalance
paths:
  /outstanding-balance/inform:
    post:
      tags:
      - OutstandingBalance
      summary: Inform outstanding balance
      parameters:
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutstandingBalanceInformedRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OutstandingBalanceInformedRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OutstandingBalanceInformedRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutstandingBalanceInformedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /outstanding-balance/reject:
    post:
      tags:
      - OutstandingBalance
      summary: Reject outstanding balance
      parameters:
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutstandingBalanceRejectedRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OutstandingBalanceRejectedRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OutstandingBalanceRejectedRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutstandingBalanceRejectedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /outstanding-balance/settled-purchase/{outstandingBalancetInformedId}:
    post:
      tags:
      - OutstandingBalance
      summary: Settled purchase
      parameters:
      - name: outstandingBalancetInformedId
        in: path
        description: Id outstanding balance informed
        required: true
        schema:
          type: string
          format: uuid
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettledPurchaseResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /outstanding-balance/report-payment/{outstandingBalancePaymentId}:
    post:
      tags:
      - OutstandingBalance
      summary: Report the payment for outstanding balance
      parameters:
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      - name: outstandingBalancePaymentId
        in: path
        description: Id from outstanding balance payment
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutstandingBalancePaymentResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    SettledPurchaseResponse:
      type: object
      properties:
        outstandingBalanceInformedId:
          type: string
          format: uuid
        statusOutstandingBalanceInformed:
          type: string
          nullable: true
        updateAt:
          type: string
          format: date-time
        annotationId:
          type: string
          format: uuid
        statusAnnotation:
          type: string
          nullable: true
      additionalProperties: false
    OutstandingBalanceRejectedRequest:
      required:
      - outstandingBalanceInformedId
      type: object
      properties:
        outstandingBalanceInformedId:
          type: string
          format: uuid
        description:
          type: string
          nullable: true
      additionalProperties: false
    InfoAccount:
      required:
      - bank
      - branch
      - number
      type: object
      properties:
        bank:
          type: string
          nullable: true
        branch:
          type: string
          nullable: true
        number:
          type: string
          nullable: true
      additionalProperties: false
    OutstandingBalanceRejectedResponse:
      type: object
      properties:
        outstandingBalanceInformedId:
          type: string
          format: uuid
        status:
          type: string
          nullable: true
        updateAt:
          type: string
          format: date-time
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        correlationId:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Errs'
          nullable: true
      additionalProperties: false
    Errs:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    OutstandingBalanceInformedRequest:
      required:
      - debtorBalanceAmount
      - requestOutstandingBalanceId
      type: object
      properties:
        requestOutstandingBalanceId:
          type: string
          format: uuid
        debtorBalanceAmount:
          type: number
          format: double
        nameBeneficiary:
          type: string
          nullable: true
        documentBenficiary:
          type: string
          nullable: true
        expirationDate:
          type: string
          format: date-time
          nullable: true
        description:
          type: string
          nullable: true
        detailOutstandingBalance:
          type: string
          nullable: true
        proposalRefinancing:
          type: string
          nullable: true
        infoAccount:
          $ref: '#/components/schemas/InfoAccount'
      additionalProperties: false
    OutstandingBalancePaymentResponse:
      type: object
      properties:
        outstandingBalancePaymentId:
          type: string
          format: uuid
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    OutstandingBalanceInformedResponse:
      required:
      - status
      type: object
      properties:
        outstandingBalanceInformedId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        status:
          type: string
          nullable: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Autenticação utilizando JTW Bearer Token
      scheme: Bearer
      bearerFormat: JWT
