openapi: 3.2.0
info:
  title: Onboarding.Proposal.Webservice Legal Person API
  version: v1.0.0
servers:
- url: https://sandbox.openfinance.celcoin.dev/onboarding/v1
- url: https://api.openfinance.celcoin.com.br/onboarding/v1
security:
- Bearer: []
tags:
- name: LegalPerson
paths:
  /onboarding-proposal/legal-person:
    post:
      tags:
      - LegalPerson
      summary: Cria uma nova proposta de criação de conta Pessoa Jurídica
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegalPersonRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/LegalPersonRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LegalPersonRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalPersonResponseProcessingResponse'
        '400':
          description: Error handled by the application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
      operationId: postOnboardingProposalLegalPerson
      x-operation-id-source: derived
components:
  schemas:
    LegalPersonResponse:
      type: object
      properties:
        proposalId:
          type:
          - string
          - 'null'
          description: Identificador da proposta criada.
          example: 12334dfb-4c4e-43fb-ad93-fa28e3123473
        clientCode:
          type:
          - string
          - 'null'
          description: Identificador único fornecido pelo cliente.
          example: 1234ab7c-2855-436b-9d19-8abcdc198e984
        documentNumber:
          type:
          - string
          - 'null'
          description: CNPJ da proposta criada.
          example: '12345678900001'
      additionalProperties: false
    AddressRequest:
      required:
      - city
      - neighborhood
      - number
      - postalCode
      - state
      - street
      type: object
      properties:
        postalCode:
          maxLength: 8
          minLength: 1
          type: string
          description: Número do CEP.
          example: '12211400'
        street:
          maxLength: 200
          minLength: 1
          type: string
          description: Nome da rua.
          example: Rua da Liberdade
        number:
          minLength: 1
          type: string
          description: Número do endereço.
          example: '313'
        addressComplement:
          type:
          - string
          - 'null'
          description: Complemento do endereço.
          example: Em frente ao parque.
        neighborhood:
          maxLength: 200
          minLength: 1
          type: string
          description: Nome do bairro.
          example: Casa Verde
        city:
          maxLength: 100
          minLength: 1
          type: string
          description: Nome da Cidade.
          example: São Paulo
        state:
          minLength: 1
          type: string
          description: Sigla do Estado referente ao endereço informado.
          example: SP
      additionalProperties: false
      description: Endereço.
    FileRequest:
      required:
      - data
      - type
      type: object
      properties:
        type:
          minLength: 1
          type: string
          description: 'Tipo de file:

            - OUTROS,

            - CNH_FRONT,

            - CNH_BACK,

            - RG_FRONT,

            - RG_BACK,

            - RNE_FRONT,

            - RNE_BACK,

            - CONTRATO_SOCIAL,

            - DOCUMENTO_FINANCEIRO,

            - PROCURACAO_PODERES,

            - SELFIE,

            - RNM_FRONT,

            - RNM_BACK,

            - CRLV_FRONT,

            - CRLV_BACK,

            - CTPS_FRONT,

            - CTPS_BACK,

            - PASSPORT_FRONT,

            - PASSPORT_BACK,

            - OUTROS_FRONT,

            - OUTROS_BACK,

            - DRE,

            - COMPROVANTE_RESIDENCIA,

            - COMPROVANTE_RENDA,

            - DOCUMENTO_LEGAL,

            - DECLARACAO_ANUAL,

            - DECLARACAO_CONFIRMACAO'
          example: RG_FRONT
        data:
          minLength: 1
          type: string
          description: URL do arquivo.
          example: https://t.ctcdn.com.br/lvns56iaSMyHvyTur4JeYS_NYeY=/i606944.png
      additionalProperties: false
      description: Representante/Sócio
    OwnerRequest:
      required:
      - address
      - birthDate
      - documentNumber
      - email
      - fullName
      - ownerType
      - phoneNumber
      type: object
      properties:
        ownerType:
          minLength: 1
          type: string
          description: 'Tipo de Owner:

            - REPRESENTANTE

            - SOCIO

            - DEMAIS SOCIOS'
          example: REPRESENTANTE
        documentNumber:
          maxLength: 14
          minLength: 11
          type: string
          description: Número do CPF ou CNPJ do representante/sócio da empresa.
          example: '33333333333'
        fullName:
          maxLength: 120
          minLength: 1
          type: string
          description: Nome completo do representante/sócio da empresa.
          example: Carlos Henrique da Silva
        phoneNumber:
          maxLength: 14
          minLength: 1
          type: string
          description: Número telefone contato do representante/sócio da empresa.
          example: '+5512981175554'
        email:
          maxLength: 100
          minLength: 1
          type: string
          description: E-mail do representante/sócio da empresa.
          example: email@email.com
        motherName:
          type:
          - string
          - 'null'
          description: Nome mãe do representante/sócio da empresa.
          example: Nome Sobrenome
        socialName:
          type:
          - string
          - 'null'
          description: Nome social do representante/sócio da empresa.
          example: Nome
        birthDate:
          minLength: 1
          type: string
          description: Data de nascimento do representante/sócio da empresa.
          example: 31-12-1984
        address:
          $ref: '#/components/schemas/AddressRequest'
        isPoliticallyExposedPerson:
          type: boolean
          description: Campo que identifica se o representante/sócio da empresa é uma pessoa politicamente exposta.
          default: false
          example: false
        financialOwnerDetails:
          $ref: '#/components/schemas/OwnerFinancialDetailsRequest'
      additionalProperties: false
      description: Representante/Sócio
    ResponseError:
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          minLength: 1
          type: string
          description: Código de erro gerado pela Celcoin.
          example: OIE999
        message:
          minLength: 1
          type: string
          description: Mensagem de erro.
          example: Ocorreu um erro interno durante a chamada da api..
      additionalProperties: false
    OwnerFinancialDetailsRequest:
      type: object
      properties:
        ownerDeclaredIncome:
          type:
          - string
          - 'null'
          description: Renda declarada do sócio.
          example: ODIB01
        ownerPresumedIncome:
          type:
          - string
          - 'null'
          description: Renda presumida do sócio.
          example: OPIB05
        ownerDeclaredRevenue:
          type:
          - string
          - 'null'
          description: Faturamento declarado vinculado ao sócio.
          example: ODRB06
        ownerPresumedRevenue:
          type:
          - string
          - 'null'
          description: Faturamento presumido vinculado ao sócio.
          example: OPRB01
      additionalProperties: false
      description: Detalhes financeiros do sócio/representante.
    CompanyFinancialDetailsRequest:
      type: object
      properties:
        declaredCompanyRevenue:
          type:
          - string
          - 'null'
          description: Faturamento declarado da empresa.
          example: DCRB01
        presumedCompanyRevenue:
          type:
          - string
          - 'null'
          description: Faturamento presumido da empresa.
          example: PCRB01
      additionalProperties: false
      description: Detalhes financeiros da empresa.
    ErrorResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
          description: Versão da api.
          example: 1.0.0
        status:
          type:
          - string
          - 'null'
          description: Status da solicitação.
          example: SUCCESS
        error:
          $ref: '#/components/schemas/ResponseError'
      additionalProperties: false
    LegalPersonResponseProcessingResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
          description: Versão da api.
          example: 1.0.0
        status:
          type:
          - string
          - 'null'
          description: Status da solicitação.
          example: SUCCESS
        body:
          $ref: '#/components/schemas/LegalPersonResponse'
      additionalProperties: false
    LegalPersonRequest:
      required:
      - businessAddress
      - businessEmail
      - businessName
      - clientCode
      - contactNumber
      - documentNumber
      - onboardingType
      - owner
      - tradingName
      type: object
      properties:
        clientCode:
          minLength: 1
          type: string
          description: Identificador único fornecido pelo cliente. Esse valor não pode ser repetido.
          example: '123456'
        contactNumber:
          maxLength: 14
          minLength: 1
          type: string
          description: Telefone para contato.
          example: '+551239215555'
        documentNumber:
          maxLength: 14
          minLength: 14
          type: string
          description: Número do CNPJ da conta (Aceita formato Alfanumérico).
          example: 12ABC3450001DF
        businessEmail:
          maxLength: 100
          minLength: 1
          type: string
          description: E-mail que será vinculado a conta.
          example: email@email.com
        businessName:
          maxLength: 350
          minLength: 1
          type: string
          description: Nome da razão social da conta.
          example: IP Pagamentos
        tradingName:
          maxLength: 120
          minLength: 1
          type: string
          description: Nome fantasia da conta.
          example: IPay
        companyType:
          type:
          - string
          - 'null'
          description: 'Tipo de empresa:

            - PJ

            - MEI

            - ME'
          default: PJ
          example: PJ
        owner:
          type: array
          items:
            $ref: '#/components/schemas/OwnerRequest'
        businessAddress:
          $ref: '#/components/schemas/AddressRequest'
        onboardingType:
          minLength: 1
          type: string
          description: 'Tipo de Onboarding:

            - Se BAAS: Será criada uma proposta de pessoa jurídica para criar conta no BAAS'
          default: BAAS
          example: BAAS
        files:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FileRequest'
          description: Documentos Enviados
        financialCompanyDetails:
          $ref: '#/components/schemas/CompanyFinancialDetailsRequest'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: '[API V5] - Please enter into field the word ''Bearer'' following by space and the access_token (JWT)'
      name: Authorization
      in: header
