openapi: 3.2.0
info:
  title: Onboarding.Proposal.Webservice Tagging Journey API
  version: v1.0.0
servers:
- url: https://sandbox.openfinance.celcoin.dev/onboarding/v1
- url: https://api.openfinance.celcoin.com.br/onboarding/v1
security:
- Bearer: []
tags:
- name: TaggingJourney
paths:
  /onboarding-proposal/tagging-journey:
    get:
      tags:
      - TaggingJourney
      summary: Busca o tageamento da jornada do webview de uma proposta
      parameters:
      - name: ProposalId
        in: query
        description: Id da proposta a ser buscada.
        schema:
          type: string
          example: 3257b215-bef9-402b-a779-104441b520b4
        example: 3257b215-bef9-402b-a779-104441b520b4
      - name: ClientCode
        in: query
        description: ClientCode da proposta a ser buscada.
        schema:
          type: string
          example: 612f5412-0bd3-49b0-b136-981f0959d47e
        example: 612f5412-0bd3-49b0-b136-981f0959d47e
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagginJourneyResponseSuccessResponse'
        '400':
          description: Error handled by the application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: getOnboardingProposalTaggingJourney
      x-operation-id-source: derived
components:
  schemas:
    Browser:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Nome do navegador.
          example: Chrome
        version:
          type:
          - string
          - 'null'
          description: Versão do navegador.
          example: 126.0.0.0
      additionalProperties: false
    Os:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Nome do sistema operacional.
          example: Android
        version:
          type:
          - string
          - 'null'
          description: Versão do sistema operacional.
          example: '10'
        versionname:
          type:
          - string
          - 'null'
          description: Nome da versão do sistema operacional.
          example: 10.1.0
      additionalProperties: false
    TagginJourneyResponseSuccessResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
          description: Versão da api.
          example: 1.0.0
        status:
          type:
          - string
          - 'null'
          description: Status da solicitação.
          example: SUCCESS
        body:
          $ref: '#/components/schemas/TagginJourneyResponse'
      additionalProperties: false
    TagginJourneyResponse:
      type: object
      properties:
        proposalId:
          type:
          - string
          - 'null'
          description: Identificador da proposta.
          example: 12334dfb-4c4e-43fb-ad93-fa28e3123473
        clientCode:
          type:
          - string
          - 'null'
          description: Identificador único fornecido pelo cliente.
          example: 1234ab7c-2855-436b-9d19-8abcdc198e984
        documentNumber:
          type:
          - string
          - 'null'
          description: CPF ou CNPJ da proposta.
          example: '12345678'
        processedAt:
          type:
          - string
          - 'null'
          description: Data de processamento da url.
          example: '2024-08-14 09:40:20.09'
        status:
          type:
          - string
          - 'null'
          description: 'Status da jornada:

            - COMPLETED

            - PENDING'
          example: COMPLETED
        link:
          type:
          - string
          - 'null'
          description: Link do webview.
          example: https://trustyourid.cadastro.io/e32b99c477a00171716aas
        totalDevices:
          type:
          - integer
          - 'null'
          description: Quantidade de dispositivos que acessaram o webview.
          format: int32
          example: 1
        devices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DevicesFunnel'
          description: Dispositivos que acessaram o webview.
        lastStep:
          $ref: '#/components/schemas/StepFunnel'
        stepsArray:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StepFunnel'
          description: Lista das etapas da jornada.
      additionalProperties: false
    DevicesFunnel:
      type: object
      properties:
        browser:
          $ref: '#/components/schemas/Browser'
        os:
          $ref: '#/components/schemas/Os'
        platform:
          $ref: '#/components/schemas/Platform'
        engine:
          $ref: '#/components/schemas/Engine'
        useragent:
          type:
          - string
          - 'null'
          description: String de texto que contém informações sobre o navegador.
          example: Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Mobile Safari/537.36
      additionalProperties: false
    Engine:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Nome do motor do navegador.
          example: Google
        version:
          type:
          - string
          - 'null'
          description: Versão do motor do navegador.
          example: 126.0.0.0
      additionalProperties: false
    StepFunnel:
      type: object
      properties:
        timestamp:
          type:
          - string
          - 'null'
          description: Timestamp que iniciou a etapa.
          example: '2024-07-25 18:19:54.11'
        stepName:
          type:
          - string
          - 'null'
          description: '  Possíveis etapas:

            - STEP_CAMERA_ACCESS: Permissões de câmera.

            - STEP_COMPANY_ADDRESS: Endereço empresarial.

            - STEP_COMPANY_DATA: Dados empresariais.

            - STEP_CUSTOM: Etapa customizada.

            - STEP_CUSTOM_FORM: Formulário.

            - STEP_DATA_CONFIRMATION: Dados pessoais.

            - STEP_DD: Captura de Documento.

            - STEP_DD_PREVIEW: Preview do documento.

            - STEP_DISPATCH_ADDRESS: Endereço residencial.

            - STEP_DOCUMENT_TYPE: Tipo de documento.

            - STEP_DOCUMENT_ISSUED_COUNTRY: País de emissão do documento.

            - STEP_USING_TERMS: Aceite de termos de uso.

            - STEP_DONE: Tudo certo.

            - STEP_EMAIL_VALIDATION: Validar email.

            - STEP_EMPLOYEE_DATA: Dados do funcionário.

            - STEP_FLOW_CHOICE: Decisão.

            - STEP_INCOME: Faturamento.

            - STEP_INSTRUCTIONS: Instruções.

            - STEP_PARTNER: Quadro societário.

            - STEP_LIVENESS_IPROOV: Prova de vida (Nova).

            - STEP_LIVENESS_IPROOV_PREVIEW: Pré-visualização da Prova de Vida (Nova).

            - STEP_PFL: Selfie.

            - STEP_PFL_PREVIEW: Preview da selfie.

            - STEP_FA: Autenticação Facial.

            - STEP_FA_PREVIEW: Pré-visualização da Autenticação Facial (Antiga).

            - STEP_FACE_AUTH_IPROOV: Autenticação Facial (Nova).

            - STEP_FACE_AUTH_IPROOV_PREVIEW: Pré-visualização da Autenticação Facial (Nova).

            - STEP_PF_PF_DATA: Dados da pessoa relacionada.

            - STEP_PHONE_NUMBER_VALIDATION: Validar telefone.

            - STEP_QSA: Quem é você?

            - STEP_SEND_DOCUMENT_TYPE: Forma de envio de documento.

            - STEP_UPLOAD_DOCUMENT: Upload de arquivos de documento.

            - STEP_WELCOME: Boas vindas ao usuário.

            - STEP_NEW_ACCESS: Novo acesso.'
          example: STEP_DONE-1
        secondsFromPrevious:
          type:
          - integer
          - 'null'
          description: Tempo na etapa anterior (em segundos).
          format: int32
          example: -32
        secondsFromNext:
          type:
          - integer
          - 'null'
          description: Tempo na etapa informada (em segundos).
          format: int32
          example: 1
        deviceBrowserName:
          type:
          - string
          - 'null'
          description: Nome do navegador.
          example: Safari
        deviceOsName:
          type:
          - string
          - 'null'
          description: Nome do sistema operacional.
          example: iOS
        deviceOsVersion:
          type:
          - string
          - 'null'
          description: Versão do sistema operacional.
          example: 17.4.1
        devicePlatformType:
          type:
          - string
          - 'null'
          description: Tipo da plataforma.
          example: mobile
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
          description: Versão da api.
          example: 1.0.0
        status:
          type:
          - string
          - 'null'
          description: Status da solicitação.
          example: SUCCESS
        error:
          $ref: '#/components/schemas/ResponseError'
      additionalProperties: false
    Platform:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: Tipo da plataforma.
          example: Crowdfunding
        vendor:
          type:
          - string
          - 'null'
          description: Fornecedor.
          example: Crowdcube
        model:
          type:
          - string
          - 'null'
          description: Modelo.
          example: Equity-Based
      additionalProperties: false
    ResponseError:
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          minLength: 1
          type: string
          description: Código de erro gerado pela Celcoin.
          example: OIE999
        message:
          minLength: 1
          type: string
          description: Mensagem de erro.
          example: Ocorreu um erro interno durante a chamada da api..
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: '[API V5] - Please enter into field the word ''Bearer'' following by space and the access_token (JWT)'
      name: Authorization
      in: header
