openapi: 3.2.0
info:
  title: Onboarding.Proposal.Webservice Natural Person API
  version: v1.0.0
servers:
- url: https://sandbox.openfinance.celcoin.dev/onboarding/v1
- url: https://api.openfinance.celcoin.com.br/onboarding/v1
security:
- Bearer: []
tags:
- name: NaturalPerson
paths:
  /onboarding-proposal/natural-person:
    post:
      tags:
      - NaturalPerson
      summary: Cria uma nova proposta de criação de conta Pessoa Física
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NaturalPersonRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/NaturalPersonRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/NaturalPersonRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NaturalPersonResponseProcessingResponse'
        '400':
          description: Error handled by the application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
      operationId: postOnboardingProposalNaturalPerson
      x-operation-id-source: derived
  /onboarding-proposal/account/{account}/natural-person:
    put:
      tags:
      - NaturalPerson
      summary: Criação de proposta para atualização de dados cadastrais de uma Pessoa Física
      parameters:
      - name: account
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NaturalPersonUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/NaturalPersonUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/NaturalPersonUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NaturalPersonUpdateResponseProcessingResponse'
        '400':
          description: Error handled by the application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: putOnboardingProposalAccountByAccountNaturalPerson
      x-operation-id-source: derived
components:
  schemas:
    NaturalPersonUpdateResponse:
      type: object
      properties:
        updateProposalId:
          type:
          - string
          - 'null'
          description: Identificador único da atualização criada.
          example: 12334dfb-4c4e-43fb-ad93-fa28e3123473
        clientCode:
          type:
          - string
          - 'null'
          description: Identificador único fornecido pelo cliente.
          example: '123456'
        documentNumber:
          type:
          - string
          - 'null'
          description: Número do documento do titular da conta.
          example: '33333333333'
        account:
          type:
          - string
          - 'null'
          description: Número da conta.
          example: '300539137126128'
      additionalProperties: false
    AddressRequest:
      required:
      - city
      - neighborhood
      - number
      - postalCode
      - state
      - street
      type: object
      properties:
        postalCode:
          maxLength: 8
          minLength: 1
          type: string
          description: Número do CEP.
          example: '12211400'
        street:
          maxLength: 200
          minLength: 1
          type: string
          description: Nome da rua.
          example: Rua da Liberdade
        number:
          minLength: 1
          type: string
          description: Número do endereço.
          example: '313'
        addressComplement:
          type:
          - string
          - 'null'
          description: Complemento do endereço.
          example: Em frente ao parque.
        neighborhood:
          maxLength: 200
          minLength: 1
          type: string
          description: Nome do bairro.
          example: Casa Verde
        city:
          maxLength: 100
          minLength: 1
          type: string
          description: Nome da Cidade.
          example: São Paulo
        state:
          minLength: 1
          type: string
          description: Sigla do Estado referente ao endereço informado.
          example: SP
      additionalProperties: false
      description: Endereço.
    NaturalPersonUpdateResponseProcessingResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
          description: Versão da api.
          example: 1.0.0
        status:
          type:
          - string
          - 'null'
          description: Status da solicitação.
          example: SUCCESS
        body:
          $ref: '#/components/schemas/NaturalPersonUpdateResponse'
      additionalProperties: false
    FileRequest:
      required:
      - data
      - type
      type: object
      properties:
        type:
          minLength: 1
          type: string
          description: 'Tipo de file:

            - OUTROS,

            - CNH_FRONT,

            - CNH_BACK,

            - RG_FRONT,

            - RG_BACK,

            - RNE_FRONT,

            - RNE_BACK,

            - CONTRATO_SOCIAL,

            - DOCUMENTO_FINANCEIRO,

            - PROCURACAO_PODERES,

            - SELFIE,

            - RNM_FRONT,

            - RNM_BACK,

            - CRLV_FRONT,

            - CRLV_BACK,

            - CTPS_FRONT,

            - CTPS_BACK,

            - PASSPORT_FRONT,

            - PASSPORT_BACK,

            - OUTROS_FRONT,

            - OUTROS_BACK,

            - DRE,

            - COMPROVANTE_RESIDENCIA,

            - COMPROVANTE_RENDA,

            - DOCUMENTO_LEGAL,

            - DECLARACAO_ANUAL,

            - DECLARACAO_CONFIRMACAO'
          example: RG_FRONT
        data:
          minLength: 1
          type: string
          description: URL do arquivo.
          example: https://t.ctcdn.com.br/lvns56iaSMyHvyTur4JeYS_NYeY=/i606944.png
      additionalProperties: false
      description: Representante/Sócio
    NaturalPersonRequest:
      required:
      - address
      - birthDate
      - clientCode
      - documentNumber
      - email
      - fullName
      - motherName
      - onboardingType
      - phoneNumber
      type: object
      properties:
        clientCode:
          minLength: 1
          type: string
          description: Identificador único fornecido pelo cliente. Esse valor não pode ser repetido.
          example: '123456'
        documentNumber:
          maxLength: 11
          minLength: 11
          type: string
          description: Número do CPF da conta.
          example: '33333333333'
        phoneNumber:
          maxLength: 14
          minLength: 1
          type: string
          description: Número telefone contato do titular da conta.
          example: '+5512981175554'
        email:
          maxLength: 100
          minLength: 1
          type: string
          description: E-mail do titular da conta.
          example: email@email.com
        motherName:
          minLength: 1
          type: string
          description: Nome mãe do titular da conta.
          example: Nome Sobrenome
        fullName:
          maxLength: 120
          minLength: 1
          type: string
          description: Nome completo do titular da conta.
          example: Nome Sobrenome
        socialName:
          type:
          - string
          - 'null'
          description: Nome social do titular da conta.
          example: Carlos
        birthDate:
          minLength: 1
          type: string
          description: Data de nascimento do titular da conta.
          example: 31-12-1984
        address:
          $ref: '#/components/schemas/AddressRequest'
        isPoliticallyExposedPerson:
          type: boolean
          description: Campo que identifica se o titular da conta é pessoa politicamente exposta.
          default: false
          example: false
        onboardingType:
          minLength: 1
          type: string
          description: 'Tipo de Onboarding:

            - Se BAAS: Sera criada uma proposta de pessoa física para criar conta no BAAS'
          default: BAAS
          example: BAAS
        files:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FileRequest'
          description: Documentos Enviados
        financialDetails:
          $ref: '#/components/schemas/FinancialDetails'
      additionalProperties: false
    NaturalPersonResponseProcessingResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
          description: Versão da api.
          example: 1.0.0
        status:
          type:
          - string
          - 'null'
          description: Status da solicitação.
          example: SUCCESS
        body:
          $ref: '#/components/schemas/NaturalPersonResponse'
      additionalProperties: false
    NaturalPersonResponse:
      type: object
      properties:
        proposalId:
          type:
          - string
          - 'null'
          description: Identificador da proposta criada.
          example: 12334dfb-4c4e-43fb-ad93-fa28e3123473
        clientCode:
          type:
          - string
          - 'null'
          description: Identificador único fornecido pelo cliente.
          example: 1234ab7c-2855-436b-9d19-8abcdc198e984
        documentNumber:
          type:
          - string
          - 'null'
          description: CPF da proposta criada.
          example: '12345678900'
      additionalProperties: false
    NaturalPersonUpdateRequest:
      required:
      - address
      - clientCode
      - email
      - fullName
      - motherName
      - phoneNumber
      type: object
      properties:
        clientCode:
          minLength: 1
          type: string
          description: Identificador único fornecido pelo cliente.
          example: '123456'
        phoneNumber:
          maxLength: 14
          minLength: 1
          type: string
          description: Número telefone contato do titular da conta.
          example: '+5512981175554'
        email:
          maxLength: 100
          minLength: 1
          type: string
          description: E-mail do titular da conta.
          example: email@email.com
        motherName:
          minLength: 1
          type: string
          description: Nome da mãe do titular da conta.
          example: Nome Sobrenome
        fullName:
          maxLength: 120
          minLength: 1
          type: string
          description: Nome completo do titular da conta.
          example: Nome Sobrenome
        socialName:
          type:
          - string
          - 'null'
          description: Nome social do titular da conta.
          example: Nome
        address:
          $ref: '#/components/schemas/AddressRequest'
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
          description: Versão da api.
          example: 1.0.0
        status:
          type:
          - string
          - 'null'
          description: Status da solicitação.
          example: SUCCESS
        error:
          $ref: '#/components/schemas/ResponseError'
      additionalProperties: false
    ResponseError:
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          minLength: 1
          type: string
          description: Código de erro gerado pela Celcoin.
          example: OIE999
        message:
          minLength: 1
          type: string
          description: Mensagem de erro.
          example: Ocorreu um erro interno durante a chamada da api..
      additionalProperties: false
    FinancialDetails:
      type: object
      properties:
        declaredIncome:
          type:
          - string
          - 'null'
        declaredIncomeDescription:
          type:
          - string
          - 'null'
        presumedIncome:
          type:
          - string
          - 'null'
        presumedIncomeDescription:
          type:
          - string
          - 'null'
        occupation:
          type:
          - string
          - 'null'
        occupationDescription:
          type:
          - string
          - 'null'
        netWorth:
          type:
          - string
          - 'null'
        netWorthDescription:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: '[API V5] - Please enter into field the word ''Bearer'' following by space and the access_token (JWT)'
      name: Authorization
      in: header
