openapi: 3.2.0
info:
  title: Celcoin Proposal API
  version: '1.0'
  description: 'Operations tagged Proposal across 2 of this provider''s published API definitions: celcoin-credit-openapi.json, celcoin-onboarding-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.openfinance.celcoin.dev/onboarding/v1
- url: https://api.openfinance.celcoin.com.br/onboarding/v1
security:
- Bearer: []
tags:
- name: Proposal
paths:
  /proposal/linked-request:
    post:
      tags:
      - Proposal
      summary: Include a linked proposal
      parameters:
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposalLinkedRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ProposalLinkedRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProposalLinkedRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalLinkedResponse'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalLinkedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: postProposalLinkedRequest
      x-operation-id-source: derived
  /onboarding-proposal:
    get:
      tags:
      - Proposal
      summary: Busca uma proposta ou uma lista de propostas
      parameters:
      - name: ProposalId
        in: query
        description: Id da proposta a ser buscada.
        schema:
          type: string
          example: 3257b215-bef9-402b-a779-104441b520b4
        example: 3257b215-bef9-402b-a779-104441b520b4
      - name: ClientCode
        in: query
        description: Identificador único do cliente a ser buscado.
        schema:
          type: string
          example: 7817b215-beg3-801a-a779-117771t550h2
        example: 7817b215-beg3-801a-a779-117771t550h2
      - name: DateFrom
        in: query
        description: Data inicial.
        schema:
          type: string
          format: date-time
          example: '2023-11-03T06:30:00-03:00'
        example: '2023-11-03T06:30:00-03:00'
      - name: DateTo
        in: query
        description: Data final.
        schema:
          type: string
          format: date-time
          example: '2023-11-03T06:30:00-03:00'
        example: '2023-11-03T06:30:00-03:00'
      - name: Status
        in: query
        description: 'Status da proposta:

          - CREATED

          - PENDING

          - PENDING_DOCUMENTSCOPY

          - APPROVED

          - REPROVED

          - RESOURCE_ERROR

          - RESOURCE_CREATED

          - PROCESSING_DOCUMENTSCOPY'
        schema:
          type: string
          example: PENDING
        example: PENDING
      - name: DocumentNumber
        in: query
        description: Documento da proposta.
        schema:
          maxLength: 14
          minLength: 11
          type: string
          example: '12345678909'
        example: '12345678909'
      - name: Page
        in: query
        description: 'Pagina de solicitaçao, default: 1.'
        schema:
          type: integer
          format: int32
          default: 1
      - name: Limit
        in: query
        description: Limite geral da consulta.
        schema:
          maximum: 200
          minimum: 1
          type: integer
          format: int32
          default: 200
      - name: LimitPerPage
        in: query
        description: Total de propostas por pagina.
        schema:
          maximum: 200
          minimum: 1
          type: integer
          format: int32
          default: 200
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchProposalResponseSuccessResponse'
        '400':
          description: Error handled by the application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '401':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '500':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      operationId: getOnboardingProposal
      x-operation-id-source: derived
    servers:
    - url: https://sandbox.openfinance.celcoin.dev/onboarding/v1
    - url: https://api.openfinance.celcoin.com.br/onboarding/v1
components:
  schemas:
    ProposalLinkedRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        proposalNumber:
          type:
          - string
          - 'null'
        proposalValidity:
          type: string
          format: date-time
        installmentQuantity:
          type: integer
          format: int32
        installmentAmount:
          type: number
          format: double
        availableBalance:
          type: number
          format: double
        amount:
          type: number
          format: double
        iof:
          type: number
          format: double
        anualTax:
          type: number
          format: double
        cet:
          type: number
          format: double
        interestTax:
          type: number
          format: double
        monthlyCet:
          type: number
          format: double
        contacts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Contact'
      additionalProperties: false
    Contact:
      required:
      - contactValue
      type: object
      properties:
        contactType:
          $ref: '#/components/schemas/ProposalContact'
        contactValue:
          type:
          - string
          - 'null'
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        correlationId:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Errs'
      additionalProperties: false
    ProposalContact:
      enum:
      - URL
      - WHATSAPP
      - PHONE
      - EMAIL
      - OTHER
      type: string
    Errs:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProposalLinkedResponse:
      type: object
      properties:
        proposalId:
          type:
          - string
          - 'null'
          format: uuid
        proposalNumber:
          type:
          - string
          - 'null'
        balanceCheckId:
          type:
          - string
          - 'null'
          format: uuid
        proposalValidity:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    ProposalResponse:
      type: object
      properties:
        proposalId:
          type:
          - string
          - 'null'
          description: Identificador da proposta.
          example: 12334dfb-4c4e-43fb-ad93-fa28e3123473
        clientCode:
          type:
          - string
          - 'null'
          description: Identificador único fornecido pelo cliente.
          example: 1234ab7c-2855-436b-9d19-8abcdc198e984
        documentNumber:
          type:
          - string
          - 'null'
          description: CPF ou CNPJ da proposta.
        status:
          type:
          - string
          - 'null'
          description: 'Status da proposta:

            - CREATED

            - PENDING

            - PENDING_DOCUMENTSCOPY

            - APPROVED

            - REPPROVED

            - RESOURCE_CREATED

            - RESOURCE_ERROR

            - PROCESSING_DOCUMENTSCOPY'
        proposalType:
          type:
          - string
          - 'null'
          description: 'Tipo da proposta:

            - PF

            - PJ'
          example: PF
        createdAt:
          type:
          - string
          - 'null'
          description: Data de criação da proposta.
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          description: Data de atualização da proposta.
          format: date-time
        rejectedReason:
          $ref: '#/components/schemas/RejectedReasonResponse'
        documentscopys:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DocumentscopyResponse'
      additionalProperties: false
      description: Proposta(s) retornada(s).
    SearchProposalResponse:
      type: object
      properties:
        limit:
          type: integer
          description: Total de propostas.
          format: int32
        currentPage:
          type: integer
          description: Página atual.
          format: int32
        limitPerPage:
          type: integer
          description: Total de propostas por página.
          format: int32
        totalPages:
          type: integer
          description: Total de páginas retornadas.
          format: int32
        totalItems:
          type: integer
          description: Total de propostas retornadas.
          format: int32
        proposal:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProposalResponse'
      additionalProperties: false
    RejectedReasonResponse:
      type: object
      properties:
        errorCode:
          type:
          - string
          - 'null'
          description: Código de erro referente à rejeição da proposta.
        message:
          type:
          - string
          - 'null'
          description: Motivo da rejeição da proposta.
      additionalProperties: false
      description: Motivo pelo qual a proposta foi rejeitada.
    SearchProposalResponseSuccessResponse:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
          description: Versão da api.
          example: 1.0.0
        status:
          type:
          - string
          - 'null'
          description: Status da solicitação.
          example: SUCCESS
        body:
          $ref: '#/components/schemas/SearchProposalResponse'
      additionalProperties: false
    ErrorResponse_2:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
          description: Versão da api.
          example: 1.0.0
        status:
          type:
          - string
          - 'null'
          description: Status da solicitação.
          example: SUCCESS
        error:
          $ref: '#/components/schemas/ResponseError'
      additionalProperties: false
    ResponseError:
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          minLength: 1
          type: string
          description: Código de erro gerado pela Celcoin.
          example: OIE999
        message:
          minLength: 1
          type: string
          description: Mensagem de erro.
          example: Ocorreu um erro interno durante a chamada da api..
      additionalProperties: false
    DocumentscopyResponse:
      type: object
      properties:
        proposalId:
          type:
          - string
          - 'null'
          description: Identificador da proposta.
          example: 12334dfb-4c4e-43fb-ad93-fa28e3123473
        documentNumber:
          type:
          - string
          - 'null'
          description: CPF ou CNPJ da pessoa que teve o(s) documento(s) analisado(s).
        documentscopyId:
          type:
          - string
          - 'null'
          description: Identificador único da documentoscopia.
          example: 12a1e9a958fab500088a8901
        status:
          type:
          - string
          - 'null'
          description: 'Status da documentoscopia:

            - CREATED

            - PENDING

            - APPROVED

            - REPROVED

            - PROCESSING'
          example: APPROVED
        url:
          type:
          - string
          - 'null'
          description: URL utilizada para o usuário encaminhar os seus documentos.
        createdAt:
          type: string
          description: Data de criação da documentoscopia.
          format: date-time
        updateAt:
          type:
          - string
          - 'null'
          description: Data de atualização da documentoscopia.
          format: date-time
      additionalProperties: false
      description: Documentoscopia(s) retornada(s).
  securitySchemes:
    Bearer:
      type: http
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- celcoin-credit-openapi.json
- celcoin-onboarding-openapi.json
