openapi: 3.0.1
info:
  title: billissuance-settlement-webservice AnnotationCompetenceCalendar Guarantee API
  version: v1.0.0
servers:
- url: https://sandbox.openfinance.celcoin.dev/billissuance/v1
tags:
- name: Guarantee
paths:
  /guarantee/get-links:
    get:
      tags:
      - Guarantee
      summary: Consults the employment links associated with a specific document.
      parameters:
      - name: document
        in: query
        required: true
        schema:
          type: string
      - name: consigneeId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: agencyId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: token-data
        in: header
        description: Authorization Token (only if needed)
        schema:
          type: string
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLinksResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/get-data:
    get:
      tags:
      - Guarantee
      summary: Retrieves comprehensive data associated with a specific document.
      parameters:
      - name: document
        in: query
        required: true
        schema:
          type: string
      - name: consigneeId
        in: query
        required: true
        schema:
          type: string
      - name: agencyId
        in: query
        required: true
        schema:
          type: string
      - name: periods
        in: query
        schema:
          type: integer
          format: int32
      - name: registration
        in: query
        schema:
          type: string
      - name: token-data
        in: header
        description: Authorization Token (only if needed)
        schema:
          type: string
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckBalanceContractResponse'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee:
    post:
      tags:
      - Guarantee
      summary: Initiates or schedules an annotation registration process.
      parameters:
      - name: Pin
        in: header
        schema:
          type: string
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: Annotation request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuaranteeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/GuaranteeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/GuaranteeRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuaranteeResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuaranteeResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/anticipation:
    post:
      tags:
      - Guarantee
      summary: Realiza a antecipação de pagamento de parcelas específicas.
      parameters:
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: Antecipação de parcelas request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnticipationInstallmentsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AnticipationInstallmentsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AnticipationInstallmentsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnticipationInstallmentsResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/{annotationId}:
    patch:
      tags:
      - Guarantee
      summary: Alter data from annotation (Amortization)
      parameters:
      - name: annotationId
        in: path
        description: Id from annotation
        required: true
        schema:
          type: string
          format: uuid
      - name: Pin
        in: header
        schema:
          type: string
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuaranteeAlterRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/GuaranteeAlterRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/GuaranteeAlterRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuaranteeAlterResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Guarantee
      summary: Delete an annotation
      parameters:
      - name: annotationId
        in: path
        description: ''
        required: true
        schema:
          type: string
          format: uuid
      - name: reason
        in: query
        description: ''
        schema:
          $ref: '#/components/schemas/ReasonEndContract'
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteGuaranteeResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteGuaranteeResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/contract:
    post:
      tags:
      - Guarantee
      summary: Send annotation contract data
      parameters:
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractDataRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ContractDataRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContractDataRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDataResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/{actionType}/{annotationId}:
    get:
      tags:
      - Guarantee
      parameters:
      - name: actionType
        in: path
        required: true
        schema:
          type: string
      - name: annotationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
  /guarantee/authorization-data:
    post:
      tags:
      - Guarantee
      summary: Authorize consult data
      parameters:
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationDataRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AuthorizationDataRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AuthorizationDataRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationDataResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/annotation:
    get:
      tags:
      - Guarantee
      summary: Consult annotation status
      parameters:
      - name: annotationId
        in: query
        description: ''
        schema:
          type: string
          format: uuid
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultAnnotationResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/{annotationId}/revert-refinancing:
    delete:
      tags:
      - Guarantee
      summary: Revert refinancing of an annotation.
      parameters:
      - name: annotationId
        in: path
        description: annotationId to reverse
        required: true
        schema:
          type: string
          format: uuid
      - name: reason
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ReasonReversal'
      - name: Pin
        in: header
        schema:
          type: string
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRefinancingResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRefinancingResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/{annotationId}/reactivate:
    put:
      tags:
      - Guarantee
      summary: Reactivate an annotation
      parameters:
      - name: annotationId
        in: path
        description: Id from annotation
        required: true
        schema:
          type: string
          format: uuid
      - name: Pin
        in: header
        schema:
          type: string
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactivateAnnotationResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactivateAnnotationResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/{annotationId}/suspend:
    put:
      tags:
      - Guarantee
      summary: Suspend annotation.
      parameters:
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      - name: annotationId
        in: path
        description: annotationId to reverse
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationSuspendResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationSuspendResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/anticipation/cancel:
    post:
      tags:
      - Guarantee
      summary: Cancela a liquidação antecipada de parcelas na Dataprev (CT), revertendo o contrato à programação normal de descontos na competência informada.
      parameters:
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: Identificador da averbação e competência (YYYY-MM).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAnticipationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CancelAnticipationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CancelAnticipationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAnticipationResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/{annotationId}/cancel-processing:
    put:
      tags:
      - Guarantee
      summary: Cancel an annotation process
      parameters:
      - name: annotationId
        in: path
        description: Id from annotation
        required: true
        schema:
          type: string
          format: uuid
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelProcessAnnotationResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/change-ownership:
    post:
      tags:
      - Guarantee
      summary: change the ownership of the annotation
      parameters:
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeOwnershipRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeOwnershipRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChangeOwnershipRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeOwnershipResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/list-annotations:
    get:
      tags:
      - Guarantee
      summary: Consult a list of annotations from a relative agency
      parameters:
      - name: tokenData
        in: query
        schema:
          type: string
      - name: consultType
        in: query
        schema:
          $ref: '#/components/schemas/ConsultAnnotationType'
      - name: consigneeId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: agencyId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: document
        in: query
        schema:
          type: string
      - name: registration
        in: query
        schema:
          type: string
      - name: productType
        in: query
        schema:
          $ref: '#/components/schemas/TypeProduct'
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: initDate
        in: query
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        schema:
          type: string
          format: date-time
      - name: operationId
        in: query
        schema:
          type: string
      - name: contractNumber
        in: query
        schema:
          type: string
      - name: annotationStatus
        in: query
        schema:
          $ref: '#/components/schemas/StatusContract'
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultAnnotationListResponse'
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/{annotationId}/change-portability-identifier:
    patch:
      tags:
      - Guarantee
      summary: Alter portability identifier from annotation
      parameters:
      - name: annotationId
        in: path
        description: Id from annotation
        required: true
        schema:
          type: string
          format: uuid
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortabilityChangeUniqueNumberRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PortabilityChangeUniqueNumberRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PortabilityChangeUniqueNumberRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortabilityAlterUniqueNumberResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/{annotationId}/change-portability-owner:
    patch:
      tags:
      - Guarantee
      summary: Alter portability owner from annotation
      parameters:
      - name: annotationId
        in: path
        description: Id from annotation
        required: true
        schema:
          type: string
          format: uuid
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortabilityAlterOwnerRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PortabilityAlterOwnerRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PortabilityAlterOwnerRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortabilityAlterOwnerResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/guarantee-portability:
    put:
      tags:
      - Guarantee
      summary: Exclude contracts by portability
      parameters:
      - name: correspAgentId
        in: header
        description: Bank Correspondent Agent Id
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExcludeByPortabilityRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ExcludeByPortabilityRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ExcludeByPortabilityRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExcludeByPortabilityResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/list-balance-check:
    get:
      tags:
      - Guarantee
      summary: Consult a list of balance checks
      parameters:
      - name: consigneeId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: agencyId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: balanceCheckId
        in: query
        schema:
          type: string
          format: uuid
      - name: document
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: initDate
        in: query
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBalanceCheckResponse'
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guarantee/list-payment-notes:
    get:
      tags:
      - Guarantee
      summary: Consult list of payment note.
      parameters:
      - name: consigneeId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: agencyId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: paymentNoteType
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/PaymentNoteType'
      - name: initDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: contractNumber
        in: query
        schema:
          type: string
      - name: annotationId
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultPaymentNoteListResponse'
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ChangeOwnershipResponse:
      required:
      - annotations
      type: object
      properties:
        annotations:
          type: array
          items:
            $ref: '#/components/schemas/ChangeOwnershipResponseStatus'
          nullable: true
      additionalProperties: false
    GetLinksEmployerResponse:
      type: object
      properties:
        code:
          type: string
          nullable: true
        document:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        codeEmployee:
          type: string
          nullable: true
      additionalProperties: false
    ChangeOwnershipRequest:
      required:
      - agencyId
      - changeOwnership
      - consigneeId
      type: object
      properties:
        consigneeId:
          type: string
          format: uuid
        agencyId:
          type: string
          format: uuid
        changeOwnership:
          type: array
          items:
            $ref: '#/components/schemas/OwnershipChangeDetail'
          nullable: true
      additionalProperties: false
    AuthorizationPortability:
      type: object
      properties:
        typeProduct:
          type: string
          nullable: true
        authorized:
          type: boolean
        validity:
          type: string
          format: date-time
          nullable: true
          readOnly: true
        contractPort:
          $ref: '#/components/schemas/ContractInfo'
        availableBalance:
          type: number
          format: double
      additionalProperties: false
    ReasonReversal:
      enum:
      - WITHDRAWAL
      - DEATH
      - FRAUD
      type: string
    ConsultAnnotationListResponse:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageCount:
          type: integer
          format: int64
        pageSize:
          type: integer
          format: int32
        totalItens:
          type: integer
          format: int64
        initDate:
          type: string
          format: date-time
          nullable: true
        endDate:
          type: string
          format: date-time
          nullable: true
        annotations:
          type: array
          items:
            $ref: '#/components/schemas/AnnotationResponse'
          nullable: true
      additionalProperties: false
    ChangeOwnershipResponseStatus:
      required:
      - annotationId
      - details
      - status
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        status:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/DetailsItem'
          nullable: true
      additionalProperties: false
    Rubric:
      type: object
      properties:
        code:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
      additionalProperties: false
    Employee:
      type: object
      properties:
        code:
          type: string
          nullable: true
        document:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
      additionalProperties: false
    GuaranteeAlterResponse:
      required:
      - annotationId
      - status
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        status:
          type: string
          nullable: true
      additionalProperties: false
    PortabilityAlterOwnerResponse:
      required:
      - annotationId
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        initDiscountDate:
          type: string
          nullable: true
        contractNumber:
          type: string
          nullable: true
        oldAplicantAgency:
          type: string
          nullable: true
        newApplicantAgency:
          type: string
          nullable: true
        annotationId:
          type: string
          format: uuid
        status:
          type: string
          nullable: true
      additionalProperties: false
    ErrorAnnotation:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    ListBalanceCheckResponse:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageCount:
          type: integer
          format: int64
        pageSize:
          type: integer
          format: int32
        totalItens:
          type: integer
          format: int64
        initDate:
          type: string
          format: date-time
          nullable: true
        endDate:
          type: string
          format: date-time
          nullable: true
        balancesChecks:
          type: array
          items:
            $ref: '#/components/schemas/BalancesChecksResponse'
          nullable: true
      additionalProperties: false
    DeleteRefinancingResponse:
      required:
      - status
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        status:
          type: string
          nullable: true
      additionalProperties: false
    Errs:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    GetLinksResponse:
      type: object
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/GetLinksLinkResponse'
          nullable: true
      additionalProperties: false
    AccountInfo:
      type: object
      properties:
        bankAgencyCnpj:
          type: string
          nullable: true
        correspondentCnpj:
          type: string
          nullable: true
        correspondentCpf:
          type: string
          nullable: true
        bank:
          type: string
          nullable: true
        branch:
          type: string
          nullable: true
        number:
          type: string
          nullable: true
      additionalProperties: false
    AnnotationSuspendResponse:
      required:
      - annotationId
      - status
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        status:
          type: string
          nullable: true
      additionalProperties: false
    AuthorizationDataRequest:
      required:
      - agencyId
      - consigneeId
      - digitalAuthorizationChannel
      - digitalAuthorizationDateTime
      - digitalAuthorizationNsu
      - document
      type: object
      properties:
        consigneeId:
          type: string
          format: uuid
        agencyId:
          type: string
          format: uuid
        document:
          type: string
          nullable: true
        digitalAuthorizationDateTime:
          type: string
          format: date-time
        digitalAuthorizationChannel:
          type: integer
          format: int32
        digitalAuthorizationNsu:
          type: integer
          format: int64
      additionalProperties: false
    GuaranteeRequest:
      required:
      - balanceCheckId
      type: object
      properties:
        installmentAmount:
          type: number
          format: double
        installmentQuantity:
          type: integer
          format: int32
        initDiscountDate:
          type: string
          format: date-time
        periods:
          type: array
          items:
            $ref: '#/components/schemas/Period'
          nullable: true
        balanceCheckId:
          type: string
          format: uuid
        contractNumber:
          type: string
          nullable: true
        proposalNumber:
          type: string
          nullable: true
        amount:
          type: number
          format: double
        netAmount:
          type: number
          format: double
        paidAmount:
          type: number
          format: double
        changeAmount:
          type: number
          format: double
        interestTax:
          type: number
          format: double
        iof:
          type: number
          format: double
        cet:
          type: number
          format: double
        consetDueDate:
          type: string
          format: date-time
        initContractDate:
          type: string
          format: date-time
        endContractDate:
          type: string
          format: date-time
        anualTax:
          type: number
          format: double
        monthlyCet:
          type: number
          format: double
        emailsForConsetNotification:
          type: array
          items:
            type: string
          nullable: true
        accountInfo:
          $ref: '#/components/schemas/AccountRequest'
        settledAnnotations:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        annotationScheduleConfig:
          $ref: '#/components/schemas/GuaranteeAnnotationScheduleConfigRequest'
        expirationAt:
          type: string
          format: date-time
          nullable: true
        desactivatedAnnotationId:
          type: string
          format: uuid
          nullable: true
        annotationsToPurchase:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        portabilityIdentifier:
          type: number
          format: double
          nullable: true
        clientRequestId:
          type: string
          nullable: true
        pin:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    EmployeeLink:
      type: object
      properties:
        employer:
          $ref: '#/components/schemas/Employer'
        employee:
          $ref: '#/components/schemas/Employee'
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
          nullable: true
        config:
          $ref: '#/components/schemas/Config'
        metaData:
          type: object
          additionalProperties: {}
          nullable: true
        balanceCheckDate:
          type: string
          format: date-time
      additionalProperties: false
    TypeProduct:
      enum:
      - LOAN
      - CARD_CREDIT
      - CARD_BENEFICIARY
      - MONTHLY_DESC
      - SYNDICAL_DESC
      - PORTABILITY
      type: string
    GetLinksEmployeeResponse:
      type: object
      properties:
        code:
          type: string
          nullable: true
        document:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
      additionalProperties: false
    ExcludedContractRequest:
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        lastPaidInstallment:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    DetailsItem:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    PaymentNoteType:
      enum:
      - TRANSFER
      - BOOKKEEPING
      type: string
    OwnershipChangeDetail:
      required:
      - annotationId
      - cbcBuyer
      type: object
      properties:
        cbcBuyer:
          type: string
          nullable: true
        annotationId:
          type: string
          format: uuid
      additionalProperties: false
    Applicant:
      type: object
      properties:
        document:
          type: string
          nullable: true
          readOnly: true
        consignee:
          type: string
          format: uuid
          readOnly: true
        agency:
          type: string
          format: uuid
          readOnly: true
      additionalProperties: false
    Period:
      type: object
      properties:
        creditDate:
          type: string
          nullable: true
        amount:
          type: number
          format: double
      additionalProperties: false
    AuthorizationDetail:
      type: object
      properties:
        typeProduct:
          type: string
          nullable: true
        authorized:
          type: boolean
        validity:
          type: string
          format: date-time
          nullable: true
          readOnly: true
      additionalProperties: false
    Guarantee:
      type: object
      properties:
        balanceCheckId:
          type: string
          format: uuid
        number:
          type: string
          nullable: true
        agency:
          type: string
          nullable: true
        applicantRegistrationCode:
          type: string
          nullable: true
        agencyRegistrationCode:
          type: string
          nullable: true
        agreementCode:
          type: string
          nullable: true
        amount:
          type: number
          format: double
        netAmount:
          type: number
          format: double
        installmentAmount:
          type: number
          format: double
        installmentQuantity:
          type: integer
          format: int32
        interestTax:
          type: number
          format: double
        iof:
          type: number
          format: double
        cet:
          type: number
          format: double
        gracePeriods:
          type: integer
          format: int32
        consetDueDate:
          type: string
          format: date-time
        emailsForConsetNotification:
          type: array
          items:
            type: string
          nullable: true
        acceptUrl:
          type: string
          nullable: true
        rejectUrl:
          type: string
          nullable: true
        initContractDate:
          type: string
          format: date-time
        endContractDate:
          type: string
          format: date-time
        anualTax:
          type: number
          format: double
        initDiscountDate:
          type: string
          format: date-time
        monthlyCet:
          type: number
          format: double
        proposalNumber:
          type: string
          nullable: true
        periods:
          type: array
          items:
            $ref: '#/components/schemas/Period'
          nullable: true
        accountInfo:
          $ref: '#/components/schemas/AccountInfo'
        paidAmount:
          type: number
          format: double
        changeAmount:
          type: number
          format: double
        expirationAt:
          type: string
          format: date-time
          nullable: true
        pin:
          type: string
          nullable: true
          readOnly: true
        portabilityIdentifier:
          type: number
          format: double
          nullable: true
          readOnly: true
      additionalProperties: false
    PortabilityAlterOwnerRequest:
      type: object
      properties:
        newApplicantAgency:
          type: integer
          format: int32
        annotationId:
          type: string
          format: uuid
          readOnly: true
      additionalProperties: false
    ConsultAnnotationType:
      enum:
      - NORMAL
      - PURCHASE
      - EXTERNAL
      type: string
    ConsentResponse:
      required:
      - returnMsg
      type: object
      properties:
        returnMsg:
          type: string
          nullable: true
        dateTime:
          type: string
          format: date-time
      additionalProperties: false
    StatusOperation:
      enum:
      - PROCESSING
      - ERROR
      - SUCCESS
      - CANCELED
      type: string
    OperationAnnotationResponse:
      type: object
      properties:
        operationId:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        actionType:
          type: string
          nullable: true
        error:
          $ref: '#/components/schemas/ErrorAnnotation'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
          nullable: true
        request:
          $ref: '#/components/schemas/Guarantee'
      additionalProperties: false
    ContractDataResponse:
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        updateAt:
          type: string
          format: date-time
        codigoReturn:
          type: string
          nullable: true
      additionalProperties: false
    ReasonEndContract:
      enum:
      - WITHDRAWAL
      - INVALIDITY
      - EARLY_SETTLEMENT
      - LAWSUIT
      - FRAUD
      - OTHER
      - CANCEL_CARD_CLIENT
      - CANCEL_CARD_BANK
      - CANCEL_OUT_REVERSION_DATE
      type: string
    GuaranteeAlterRequest:
      type: object
      properties:
        balanceCheckId:
          type: string
          format: uuid
          nullable: true
        annotationId:
          type: string
          format: uuid
          readOnly: true
        amount:
          type: number
          format: double
          nullable: true
        netAmount:
          type: number
          format: double
          nullable: true
        interestTax:
          type: number
          format: double
          nullable: true
        iof:
          type: number
          format: double
          nullable: true
        cet:
          type: number
          format: double
          nullable: true
        installmentAmount:
          type: number
          format: double
          nullable: true
        installmentQuantity:
          type: integer
          format: int32
          nullable: true
        initDiscountDate:
          type: string
          format: date-time
          nullable: true
        periods:
          type: array
          items:
            $ref: '#/components/schemas/Period'
          nullable: true
        pin:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    ReactivateAnnotationResponse:
      required:
      - annotationId
      - status
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        status:
          type: string
          nullable: true
      additionalProperties: false
    GuaranteeResponse:
      required:
      - annotationType
      - status
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        status:
          type: string
          nullable: true
        annotationType:
          type: string
          nullable: true
      additionalProperties: false
    AccountRequest:
      type: object
      properties:
        bankAgencyCnpj:
          type: string
          nullable: true
        correspondentCnpj:
          type: string
          nullable: true
        correspondentCpf:
          type: string
          nullable: true
        bank:
          type: string
          nullable: true
        branch:
          type: string
          nullable: true
        number:
          type: string
          nullable: true
      additionalProperties: false
    Product:
      type: object
      properties:
        balanceCheckId:
          type: string
          format: uuid
        authorization:
          $ref: '#/components/schemas/Authorization'
        rubric:
          $ref: '#/components/schemas/Rubric'
        agreement:
          type: string
          nullable: true
        availableBalance:
          type: number
          format: double
          nullable: true
      additionalProperties: false
    PortabilityAlterUniqueNumberResponse:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        annotationId:
          type: string
          format: uuid
        applicantAgency:
          type: integer
          format: int32
        portabilityIdentifier:
          type: string
          nullable: true
        newPortabilityIdentifier:
          type: string
          nullable: true
      additionalProperties: false
    CheckBalanceContractResponse:
      type: object
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeLink'
          nullable: true
      additionalProperties: false
    BalancesChecksResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        employer:
          $ref: '#/components/schemas/Employer'
        employee:
          $ref: '#/components/schemas/Employee'
        product:
          $ref: '#/components/schemas/Product'
        config:
          $ref: '#/components/schemas/Config'
        createdAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: {}
          nullable: true
      additionalProperties: false
    AnnotationResponse:
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
          nullable: true
        contractNumber:
          type: string
          nullable: true
        operationId:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        annotationType:
          type: string
          nullable: true
        contractType:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        approvedAt:
          type: string
          format: date-time
          nullable: true
        updatedAt:
          type: string
          format: date-time
          nullable: true
        externalApplicant:
          $ref: '#/components/schemas/ExternalApplicant'
        applicant:
          $ref: '#/components/schemas/Applicant'
        request:
          $ref: '#/components/schemas/Guarantee'
        metadata:
          type: object
          additionalProperties: {}
          nullable: true
      additionalProperties: false
    OperationAnnotation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        annotationId:
          type: string
          format: uuid
        operationId:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/StatusOperation'
        actionType:
          $ref: '#/components/schemas/ActionType'
        request:
          $ref: '#/components/schemas/Guarantee'
        error:
          $ref: '#/components/schemas/ErrorAnnotation'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    PortabilityChangeUniqueNumberRequest:
      type: object
      properties:
        newPortabilityIdentifier:
          type: string
          nullable: true
        annotationId:
          type: string
          format: uuid
          readOnly: true
      additionalProperties: false
    CancelAnticipationRequest:
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        competence:
          type: string
          nullable: true
      additionalProperties: false
    AuthorizationDataResponse:
      type: object
      properties:
        authorizationValidityDate:
          type: string
          format: date-time
        authorizationToken:
          type: string
          nullable: true
      additionalProperties: false
    AnticipationInstallmentsRequest:
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        competences:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    ContractInfo:
      type: object
      properties:
        contractId:
          type: string
          nullable: true
        document:
          type: string
          nullable: true
        nameConsignee:
          type: string
          nullable: true
      additionalProperties: false
    Employer:
      type: object
      properties:
        code:
          type: string
          nullable: true
        document:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        codeEmployee:
          type: string
          nullable: true
      additionalProperties: false
    ConsultPaymentNoteListResponse:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageCount:
          type: integer
          format: int64
        pageSize:
          type: integer
          format: int32
        totalItens:
          type: integer
          format: int64
        initDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        paymentNoteType:
          $ref: '#/components/schemas/PaymentNoteType'
        paymentNotes:
          type: array
          items:
            $ref: '#/components/schemas/PaymentNoteItemResponse'
          nullable: true
      additionalProperties: false
    ExcludeByPortabilityRequest:
      required:
      - agencyId
      - applicantAgency
      - consigneeId
      type: object
      properties:
        consigneeId:
          type: string
          format: uuid
        agencyId:
          type: string
          format: uuid
        applicantAgency:
          type: integer
          format: int32
        excludedContracts:
          type: array
          items:
            $ref: '#/components/schemas/ExcludedContractRequest'
          nullable: true
        portabilityIdentifier:
          type: number
          format: double
      additionalProperties: false
    LimitRangeType:
      enum:
      - HOUR
      - DAY
      type: string
    ErrorResponse:
      type: object
      properties:
        correlationId:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Errs'
          nullable: true
      additionalProperties: false
    AnnotationScheduleDayRequest:
      type: object
      properties:
        amount:
          type: number
          format: double
        netAmount:
          type: number
          format: double
        interestTax:
          type: number
          format: double
        iof:
          type: number
          format: double
        cet:
          type: number
          format: double
        installmentAmount:
          type: number
          format: double
        installmentQuantity:
          type: integer
          format: int32
        initDiscountDate:
          type: string
          format: date-time
        initContractDate:
          type: string
          format: date-time
        endContractDate:
          type: string
          format: date-time
        anualTax:
          type: number
          format: double
        monthlyCet:
          type: number
          format: double
        periods:
          type: array
          items:
            $ref: '#/components/schemas/Period'
          nullable: true
      additionalProperties: false
    GetLinksLinkResponse:
      type: object
      properties:
        employer:
          $ref: '#/components/schemas/GetLinksEmployerResponse'
        employee:
          $ref: '#/components/schemas/GetLinksEmployeeResponse'
        metaData:
          type: object
          additionalProperties: {}
          nullable: true
      additionalProperties: false
    ConsultAnnotationResponse:
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        contractNumber:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        annotationType:
          type: string
          nullable: true
        contractType:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updateAt:
          type: string
          format: date-time
          nullable: true
        approvedAt:
          type: string
          format: date-time
          nullable: true
        settledAt:
          type: string
          format: date-time
          nullable: true
        applicant:
          $ref: '#/components/schemas/Applicant'
        error:
          $ref: '#/components/schemas/ErrorAnnotation'
        annotationScheduleConfig:
          $ref: '#/components/schemas/AnnotationScheduleConfigResponse'
        operations:
          type: array
          items:
            $ref: '#/components/schemas/OperationAnnotationResponse'
          nullable: true
      additionalProperties: false
    ContractDataRequest:
      required:
      - annotationId
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        loanContract:
          type: string
          nullable: true
        digitalSignatureIndicatorICPBrasil:
          type: boolean
        ip:
          type: string
          nullable: true
        signatureDateTime:
          type: string
          format: date-time
        illiteracyIndicator:
          type: boolean
        officialDocumentWithPhotoFront:
          type: string
          nullable: true
        officialDocumentWithPhotoBack:
          type: string
          nullable: true
        facialBiometricRecord:
          type: string
          nullable: true
        biometricBase:
          type: string
          nullable: true
        score:
          type: number
          format: double
        validationIndicatorWithOfficialDoc:
          type: boolean
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        device:
          type: string
          nullable: true
        contractNsu:
          type: integer
          format: int64
        authenticationType:
          type: integer
          format: int32
        contractFileName:
          type: string
          nullable: true
        preSignedLink:
          type: string
          nullable: true
        contratoEmprestimoBytes:
          type: string
          format: byte
          nullable: true
          readOnly: true
      additionalProperties: false
    AnnotationScheduleConfigResponse:
      type: object
      properties:
        startDate:
          type: string
          format: date
        limitRange:
          type: integer
          format: int32
        limitRangeType:
          type: string
          nullable: true
        startHour:
          type: string
          format: time
      additionalProperties: false
    StatusContract:
      enum:
      - ERROR
      - WAITING_ANNOTATION_CONFIRMATION
      - WAITING_ANNOTATION_REGISTRATION
      - REJECTED
      - APPROVED
      - CANCELED
      - WAITING_CONFIRMATION
      - WAITING_CANCELLATION
      - WAITING_ALTERATION
      - SETTLED
      - WAITING_REACTIVATION
      - WAITING_SUSPENDING
      - SUSPENDED
      - DEACTIVATED_RENEWED_LINK
      - MIGRATED
      - AVAILABLE_FOR_PURCHASE
      - NOT_AVAILABLE_FOR_PURCHASE
      - PURCHASED
      - CREATED
      - DEACTIVATED_TERMINATED_LINK
      - WAITING_REGISTRATION_ATTEMPT_CANCELLATION
      - UNKNOWN
      type: string
    CancelProcessAnnotationResponse:
      required:
      - annotationId
      - status
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        status:
          type: string
          nullable: true
      additionalProperties: false
    Config:
      type: object
      properties:
        agency:
          type: string
          format: uuid
        consignee:
          type: string
          format: uuid
      additionalProperties: false
    Authorization:
      type: object
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/AuthorizationDetail'
          nullable: true
          readOnly: true
        portability:
          type: array
          items:
            $ref: '#/components/schemas/AuthorizationPortability'
          nullable: true
          readOnly: true
      additionalProperties: false
    CancelAnticipationResponse:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    PaymentNoteItemResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        externalId:
          type: string
          nullable: true
        eventType:
          type: string
          nullable: true
        consigneeId:
          type: string
          format: uuid
        agencyId:
          type: string
          format: uuid
        annotationId:
          type: string
          format: uuid
          nullable: true
        contractNumber:
          type: string
          nullable: true
        amount:
          type: number
          format: double
        createdAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: {}
          nullable: true
      additionalProperties: false
    GuaranteeAnnotationScheduleConfigRequest:
      type: object
      properties:
        schedule:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AnnotationScheduleDayRequest'
          nullable: true
        startDate:
          type: string
          format: date
          nullable: true
        limitRange:
          type: integer
          format: int32
          nullable: true
        limitRangeType:
          $ref: '#/components/schemas/LimitRangeType'
      additionalProperties: false
    ExternalApplicant:
      type: object
      properties:
        consigneeCode:
          type: string
          nullable: true
        consigneeName:
          type: string
          nullable: true
      additionalProperties: false
    ExcludeByPortabilityResponse:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        operations:
          type: array
          items:
            $ref: '#/components/schemas/OperationAnnotation'
          nullable: true
      additionalProperties: false
    DeleteGuaranteeResponse:
      required:
      - annotationId
      - status
      type: object
      properties:
        annotationId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        status:
          type: string
          nullable: true
      additionalProperties: false
    AnticipationInstallmentsResponse:
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    ActionType:
      enum:
      - START_ANNOTATION
      - END_ANNOTATION
      - ALTER_ANNOTATION
      - REVERT_ANNOTATION
      - REACTIVATE_ANNOTATION
      - ADD_CONTRACT
      - SUSPEND_ANNOTATION
      - CHANGE_OWNERSHIP
      - CHANGE_OWNER_PORTABILIY
      - ALTER_EXTERNAL_ANNOTATION_ACTIVE
      - ALTER_EXTERNAL_ANNOTATION_DELETED
      - ALTER_EXTERNAL_ANNOTATION_CLOSED
      - ALTER_EXTERNAL_ANNOTATION_START_NEXT_COMPETENCE
      - ALTER_EXTERNAL_ANNOTATION_DELETE_NEXT_COMPETENCE
      - ALTER_EXTERNAL_ANNOTATION_SUSPENDED_ACP_APS
      - ALTER_EXTERNAL_ANNOTATION_SUSPENDED_LEGAL_ACTION
      - ALTER_EXTERNAL_ANNOTATION_SUSPENDED_BANK
      type: string
  securitySchemes:
    Bearer:
      type: http
      description: Autenticação utilizando JTW Bearer Token
      scheme: Bearer
      bearerFormat: JWT
