{
  "openapi": "3.0.1",
  "info": {
    "title": "billissuance-settlement-webservice",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.openfinance.celcoin.dev/billissuance/v1"
    }
  ],
  "paths": {
    "/settlement": {
      "post": {
        "tags": [
          "Settlement"
        ],
        "summary": "Inclusão da baixa do boleto.",
        "requestBody": {
          "description": "Requisição para baixa dos boletos.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SettlementIssuanceRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettlementIssuanceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SettlementIssuanceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SettlementIssuanceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Settlement"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Settlement"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Settlement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/settlement/{id}": {
      "get": {
        "tags": [
          "Settlement"
        ],
        "summary": "Consulta da baixa do boleto.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único da baixa.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "663167f4fa5fb59547f01ca3"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Settlement"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Settlement"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Settlement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebExceptionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Settlement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Propriedade `Id` Identificador único gerado automaticamente.",
            "example": "66144a44ae0569aaf2d67b73"
          },
          "requestId": {
            "type": "string",
            "description": "Propriedade `RequestId` Identificador único da requisição.",
            "nullable": true,
            "example": "0000000002-240517-000000000000000001"
          },
          "settlementOrigin": {
            "$ref": "#/components/schemas/SettlementOrigin"
          },
          "settlementType": {
            "$ref": "#/components/schemas/SettlementType"
          },
          "billId": {
            "type": "string",
            "description": "Propriedade `Id` Identificador único do boleto.",
            "example": "66144a44ae0569aaf2d67b73"
          },
          "billNumber": {
            "type": "integer",
            "description": "Propriedade `BillNumber` Código indentificador do boleto na JD.",
            "format": "int64",
            "nullable": true,
            "example": 2.0221215E+19
          },
          "barcode": {
            "type": "string",
            "description": "Propriedade `Barcode` Código de barras.",
            "nullable": true,
            "example": "07799707771500000100000029170110202309261131"
          },
          "settlementNumber": {
            "type": "integer",
            "description": "Propriedade `SettlementNumber` Código indentificador da baixa na JD.",
            "format": "int64",
            "nullable": true,
            "example": 2.0221215E+19
          },
          "settlementReferenceNumber": {
            "type": "integer",
            "description": "Propriedade `SettlementReferenceNumber` Número Referência Atual Cadastro da Baixa.",
            "format": "int64",
            "nullable": true,
            "example": 3024061305151268898
          },
          "status": {
            "$ref": "#/components/schemas/SettlementStatus"
          },
          "issuerISPB": {
            "type": "integer",
            "description": "Propriedade `IssuerISPB`.",
            "format": "int32",
            "example": 13935893
          },
          "receiverISPB": {
            "type": "integer",
            "description": "Propriedade `ReceiverISPB`.",
            "format": "int32",
            "example": 13935893
          },
          "value": {
            "type": "number",
            "description": "Propriedade `Value` Valor da baixa.",
            "format": "double",
            "nullable": true,
            "example": 145.2
          },
          "receivableScheduleDelay": {
            "type": "integer",
            "description": "Propriedade `ReceivableScheduleDelay` Atraso do agendamento do recebimento.",
            "format": "int32",
            "example": 0
          },
          "receivableScheduleDate": {
            "type": "string",
            "description": "Propriedade `ReceivableScheduleDate` Data do agendamento do recebimento.",
            "format": "date-time",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            },
            "description": "Propriedade `Tags` Lista de tags da baixa do boleto.",
            "nullable": true
          },
          "created": {
            "type": "string",
            "description": "Propriedade `Created` Data de inclusão.",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "description": "Propriedade `Updated` Data de alteração.",
            "format": "date-time",
            "nullable": true
          },
          "transactionIdIntegration": {
            "type": "string",
            "description": "Propriedade `TransactionIdIntegration` ID da transação do integrador.",
            "nullable": true
          },
          "account": {
            "type": "string",
            "description": "Propriedade `Account` Conta do beneficiário.",
            "nullable": true,
            "example": "56532352571"
          }
        },
        "additionalProperties": false,
        "description": "Classe `Settlement` Modelo de baixa."
      },
      "SettlementIssuanceRequest": {
        "required": [
          "bankNumber",
          "billId",
          "requestId",
          "settlementType"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "maxLength": 36,
            "minLength": 36,
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type": "string",
            "description": "Propriedade `RequestId` Guid identificador da solicitação de baixa.",
            "example": "401943ae-b9d8-4e35-9816-eeecc1678357"
          },
          "billId": {
            "maxLength": 24,
            "minLength": 24,
            "pattern": "^[0-9a-fA-F]{24}$",
            "type": "string",
            "description": "Propriedade `BillId` Identificador único do boleto.",
            "example": "666cb7834d673f9983cbe3e1"
          },
          "settlementType": {
            "$ref": "#/components/schemas/SettlementType"
          },
          "bankNumber": {
            "minimum": 1,
            "pattern": "^\\d+$",
            "type": "integer",
            "description": "Propriedade `BankNumber` Indentificador do boleto que a baixa será realizada.",
            "format": "int64",
            "example": 143
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagRequest"
            },
            "description": "Propriedade `Tags` Lista de tags de marcação.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Classe `SettlementIssuanceRequest` Modelo de requisição de inclusão de baixa via ponta destinatária."
      },
      "SettlementOrigin": {
        "enum": [
          "INTERBANCARIA",
          "INTRABANCARIA"
        ],
        "type": "string",
        "description": "Valores `SettlementOrigin` Tipo de origem da baixa.<p>Values:</p><ul><li><i>INTERBANCARIA</i> - Origem interbancaria.</li><li><i>INTRABANCARIA</i> - Origem intrabancaria.</li></ul>",
        "example": "INTERBANCARIA"
      },
      "SettlementStatus": {
        "enum": [
          "PROCESSAMENTO",
          "REJEITADA",
          "REGISTRADA",
          "CANCELADA",
          "DISTRIBUIDA",
          "OCORRENCIA"
        ],
        "type": "string",
        "description": "Valores `SettlementStatus` Situação da baixa.<p>Values:</p><ul><li><i>PROCESSAMENTO</i> - Processamento.</li><li><i>REJEITADA</i> - Rejeitada.</li><li><i>REGISTRADA</i> - Registrada.</li><li><i>CANCELADA</i> - Cancelada.</li><li><i>DISTRIBUIDA</i> - Distribuida.</li><li><i>OCORRENCIA</i> - Ocorrência.</li></ul>",
        "example": "PROCESSAMENTO"
      },
      "SettlementType": {
        "enum": [
          "SOLICITACAO_CEDENTE",
          "SOLICITACAO_DESTINATARIA"
        ],
        "type": "string",
        "description": "Valores `SettlementType` Tipo de baixa.<p>Values:</p><ul><li><i>SOLICITACAO_CEDENTE</i> - Baixa Solicitação Cedente.</li><li><i>SOLICITACAO_DESTINATARIA</i> - Baixa Solicitação Destinataria.</li></ul>",
        "example": "SOLICITACAO_CEDENTE"
      },
      "Tag": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Propriedade `Name` Chave da tag.",
            "nullable": true,
            "example": "IDSAP"
          },
          "value": {
            "type": "string",
            "description": "Propriedade `Name` Valor da tag.",
            "nullable": true,
            "example": "125262"
          }
        },
        "additionalProperties": false,
        "description": "Classe `Tag` Modelo de tag de marcação da baixa."
      },
      "TagRequest": {
        "required": [
          "key",
          "value"
        ],
        "type": "object",
        "properties": {
          "key": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Propriedade `Name` Chave da tag.",
            "example": "IDSAP"
          },
          "value": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Propriedade `Name` Valor da tag.",
            "example": "125262"
          }
        },
        "additionalProperties": false,
        "description": "Classe `TagRequest` Modelo de requisição de tag de marcação da baixa."
      },
      "WebExceptionDetails": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "Propriedade `Field` Informação do campo com erro.",
            "nullable": true
          },
          "description": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Propriedade `Description` Mensagem de descrição do erro.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Classe `WebExceptionDetails` Modelo de resposta de detalhes do erro."
      },
      "WebExceptionResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Propriedade `Code` Código da exceção.",
            "nullable": true
          },
          "statusCode": {
            "type": "integer",
            "description": "Propriedade `StatusCode` Código de status da exceção.",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": "Propriedade `StatusCode` Mensagem da exceção.",
            "nullable": true
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebExceptionDetails"
            },
            "description": "Propriedade `Errors` Lista detalhes da exceção.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Classe `WebExceptionResponse` Modelo de resposta de erro."
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Autenticação utilizando JTW Bearer Token",
        "scheme": "Bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}